@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
}

.navbar{
  background-color: rgba(0, 0, 0, 0.512);
}

.project {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 20px;
}

.project::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,1,24,1) 0%, rgba(10,16,60,1) 0%, rgba(13,12,12,1) 24%, rgba(9,6,6,1) 71%, rgba(13,9,63,1) 100%);
  background-position: center;
  background-size: cover;
  filter: brightness(50%);
  z-index: -1;
}

.project .content {
  position: relative;
  z-index: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #cfe2db;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #506abc;
}

.swiper-button-next:after {
  margin-left: 25px;
}

.swiper-button-prev:after {
  margin-right: 25px;
}

.img-section {
  background-image: url('../src/images/plume-hero.jpg');
  background-size: cover;
  background-position: center;
}

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,1,24,1) 0%, rgba(10,16,60,1) 0%, rgba(13,12,12,1) 24%, rgba(9,6,6,1) 71%, rgba(13,9,63,1) 100%);
  filter: brightness(50%);
  z-index: -1; 
}

.sectionskills {
  position: relative;
  z-index: 10;
  width: 80%;
}


@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.title {
  /* font-family: 'Kaushan Script'; */
  font-family: "Shantell Sans", cursive;
  letter-spacing: 4px;
}

.hue-rotate {
  animation: hueRotate 10s infinite linear;
}

.card:not(:last-child) {
  background: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.568);
}

.contactform {
  font-family: 'Playfair Display';
}

.arrow {
  font-size: 24px;
  color: rgb(215, 215, 79);
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

